chr	pos	enzymes	M82_n05	PEN
SL2.40ch01	25533	HpyCH4IV,TaiI	attctattgtgtttgaaggaggaggtgataaaaagagaagaatgtgtggaaaaattgtgtatccatttgggctagtgaagcccggagggcaagaaggagaCgtgacattaaatgacattaacgagaggattctaatgaggccgacccggcccgtaaggcatccggtTggggactttgcatgtcgtTcgaccgtatgccctg	attctattgtgtttgaaggaggaggtgataaaaagagaagaatgtgtggaaaaattgtgtatccatttgggctagtgaagcccggagggcaagaaggagaTgtgacattaaatgacattaacgagaggattctaatgaggccgacccggcccgtaaggcatccggtCggggactttgcatgtcgtCcgaccgtatgccctg
SL2.40ch01	25618	EsaBC3I,TaqI	agggcaagaaggagaCgtgacattaaatgacattaacgagaggattctaatgaggccgacccggcccgtaaggcatccggtTggggactttgcatgtcgtTcgaccgtatgccctgcTggaccaggattatccggcaagacggtggttgcactcaccaaaattcatactcaagggagggggacaatcacaattataaggac	agggcaagaaggagaTgtgacattaaatgacattaacgagaggattctaatgaggccgacccggcccgtaaggcatccggtCggggactttgcatgtcgtCcgaccgtatgccctgcCggaccaggattatccggcaagacggtggttgcactcaccaaaattcatactcaagggagggggacaatcacaattataaggac
SL2.40ch01	30966	HindIII	ataaatcaatgttcatagtagtattcacataatcacagtgtGgaaaggctcagtctgcctatgatgttttatcttcctctgCgatccattgaggAaagctTggtcttcccgaatcaattctgatgaggtgctcatcctcgccaccagaatcatcactcgagtactctcttgtgtcactttcttcaattggtgcgcttggaa	ataaatcaatgttcatagtagtattcacataatcacagtgtAgaaaggctcagtctgcctatgatgttttatcttcctctgTgatccattgaggGaagctAggtcttcccgaatcaattctgatgaggtgctcatcctcgccaccagaatcatcactcgagtactctcttgtgtcactttcttcaattggtgcgcttggaa
SL2.40ch01	33738	SspI	ccacggaatccgttataatgtcacagatgtaaggctttcccaccagcacttcatataaacctagagtactcccatgtgaaaaagttggatgcagtagatgAatattacttgtgctcttacttgaccactatcaaacacgatatcatattgtcagaaagatgtttttggctaaaaagttattattgtaataaccattacatt	ccacggaatccgttataatgtcacagatgtaaggctttcccaccagcacttcatataaacctagagtactcccatgtgaaaaagttggatgcagtagatgCatattacttgtgctcttacttgaccactatcaaacacgatatcatattgtcagaaagatgtttttggctaaaaagttattattgtaataaccattacatt
SL2.40ch01	35327	DraI	aaagacctaatcagtagtcttcatcaacaaaaaaaggttaggaaaaccaccataagaattgacgtcgttaaactattcaagctgactatctaatctttaaATgcaaaaagactttttggccaatggaaaaggctttgttatgttcagcTaaaatgtctcagcattcaaccttcgccactgatAatttgtaggcagaaagaa	aaagacctaatcagtagtcttcatcaacaaaaaaaggttaggaaaaccaccataagaattgacgtcgttaaactattcaagctgactatctaatctttaaGGgcaaaaagactttttggccaatggaaaaggctttgttatgttcagcCaaaatgtctcagcattcaaccttcgccactgatGatttgtaggcagaaagaa
